
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #1f2833;
$primary-color-hover: #516e86;
$lighter-gray: #eaeaea;
$light-gray: #e4e7ed;
$medium-gray: #b6b6b6;
$dark-gray: #5b5b5b;
$custom-font: "Roboto", sans-serif;
